html {
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.container {
    display:grid;
    grid-template-columns: auto;

}

nav {
    display:flex;
    justify-content: center;
    align-content: center;
}

header {
    display:flex;
    justify-content: center;
    background-color:rgb(103, 187, 255)
}

header h1 {
    font-size: 10em;
    font-variant: small-caps;
}

main {
    display:flex;
    justify-content: center;
}

nav ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

nav li {
    margin: 1em;
}

#generate {
    background-color:rgb(103, 187, 255);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-variant: small-caps;
    font-style: normal;
}

#generate:hover {
    background-color:darkblue;
    color:whitesmoke;
}

textarea {
    resize: none;
}

.weather {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}